{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h3 class="card-title">Delete Task</h3>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete the task "{{ task.title }}"?</p>
                    <button id="delete-button" class="btn btn-danger">Yes, Delete</button>
                    <a href="{% url 'task_list' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
